<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   <appSettings>
      <add key="storageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=tornadoceptorsstorage;AccountKey=a5OVOzdW1/RClmgCuufzclKf1BRqgLgqhScaP10n7VJOATPQrPv0A6kltq79GB3hLnFHRiS7oSQXj/Bip8HYbA=="
           xdt:Locator="Match(key)"
           xdt:Transform="Replace"/>
   </appSettings>
</configuration>