<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   <appSettings>
      <add key="storageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=tscstoragestage;AccountKey=Cq/iQf0R4nh7uiKOWgFxUl+JwrbMdYaiqL1HbcL1C1czP8twAgnE9h/ytAWmIeHuHV6JgaPe1xl2OH/ftDPLTg=="
           xdt:Locator="Match(key)"
           xdt:Transform="Replace"/>
   </appSettings>
</configuration>